.content{
    width: 100%;
}

.nav{
    height: 48px;
    background-color: RGB(171, 5, 32);
}

.header{
    width: 1275px;
    height: 48px;
    background-color: RGB(171, 5, 32);
    margin: 0 auto;
}
.header h1{
    font-size: 22px;
    line-height: 25px;
    font-weight: bold;
    font-family: "Helvetica";
    float: left;
    color: white;
}

.header a{
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}

.header ul{
    float: right;
}

.header ul a{
    list-style-type: none;
}


.header ul li{
    float: left;
    line-height: 25px;
    font-size: 14px;
    padding-left: 30px;
    font-family: "Helvetica";
}

.header ul li a{
    text-decoration: none;
    color: white;
}

.header .firstLi a{
    color: #999999;
}

.header ul li:hover a{
    color: #999999;
}

.article {
    width: 65%;
    margin: auto;
    border: 0px solid #73AD21;
    padding: 10px;
    line-height: 1.6;
    font-family: "Helvetica";;
}

* {
    box-sizing: border-box;
}

/* Create two unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
    /*height: 300px; !* Should be removed. Only for demonstration *!*/
}

.left {
    width: 70%;
}

.right {
    width: 30%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.footnav{
    height: 100px;
    background-color: RGB(171, 5, 32);
}

.foot{
    width: 1275px;
    height: 100px;
    background-color: RGB(171, 5, 32);
    margin: 0 auto;
    padding-top: 10px;
}

.foot p{
    color: white;
}

.foot a{
    color: white;
}

.button {
    background-color: RGB(171, 5, 32);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}